html {
    background-color: rgb(142, 69, 133);
   
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
	
}

h3 {
    
    
}

section {
    font-size: 115%; 
    color: gainsboro;
    font-weight: bold; 
}

p {
    font-size: 150%; 
}

figcaption {
    
}

img {
transform: rotate(90deg);
    position: relative;
    top: 90px;
}